@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body {
  margin: 0;
}
#Header {
  position: absolute;
  width: 1440px;
  height: 898px;
  border: 0.1px solid transparent;
  background-image: linear-gradient(to bottom, #32aede, #3498db);
}

h1 {
  position: absolute;
  width: 487px;
  height: 60px;
  margin: 260px 206px 578px 747px;
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.94;
  letter-spacing: 0.8px;
  color: #ffffff;
}

h2 {
  position: absolute;
  width: 210px;
  height: 98px;
  margin: 47px 1117px 753px 113px;
  border: 0.1px solid transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}

p1 {
  position: absolute;
  width: 95px;
  height: 52px;
  margin: 60px 603px 786px 742px;
  border: 0.1px solid transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}

p2 {
  position: absolute;
  width: 69px;
  height: 26px;
  margin: 60px 504px 812px 867px;
  border: 0.1px solid transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}

p3 {
  position: absolute;
  width: 119px;
  height: 26px;
  margin: 60px 354.5px 812px 966.5px;
  border: 0.1px solid transparent;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}

p4 {
  position: absolute;
  width: 141px;
  height: 26px;
  margin: 60px 148px 812px 1151px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}

#Button {
  position: absolute;
  width: 210px;
  height: 54px;
  margin: 47px 114px 797px 1116px;
  border-radius: 98px;
  border: solid 1.3px #ffffff;
  background-color: transparent;
}

p6 {
  position: absolute;
  width: 574px;
  height: 149px;
  margin: 370px 118px 379px 748px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #ffffff;
}

p8 {
  position: absolute;
  width: 141px;
  height: 26px;
  margin: 582px 516px 290px 783px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}

#Button2 {
  position: absolute;
  width: 210px;
  height: 54px;
  margin: 569px 482px 275px 748px;
  border-radius: 98px;
  background-color: #ffbf58;
  box-shadow: 0 8px 11px 0 rgba(255, 193, 96, 0.68);
}

p9 {
  position: absolute;
  width: 319.9px;
  height: 569.6px;
  margin: 258.8px 978.2px 69.8px 141.9px;
  background-image: linear-gradient(to bottom, #ffd792, #fdcf83);
}

p10 {
  position: absolute;
  width: 358.3px;
  height: 742.2px;
  margin: 171.4px 959.4px 0 122.3px;
  border-radius: 63px;
  background-color: #fefdfd;
}

p11 {
  position: absolute;
  width: 366px;
  height: 749px;
  margin: 168px 956px 0 118px;
  border-radius: 65px;
  background-color: #f4f4f4;
  border: solid 2px #f7f7f7;
}

p12 {
position: absolute;
width: 11.1px;
height: 11.1px;
border-radius: 50%;
margin: 209.8px 1188.9px 677px 240px;
background-color: #a5a5a5;
}

p13 {
 position: absolute;
 width: 57.2px;
 height: 5.1px;
 margin: 213.3px 1112.1px 679.6px 270.7px;
 border-radius: 50px;
 background-color: #a5a5a5;
}

#Content {
  position: absolute;
  width: 1440px;
  height: 1066px;
  margin-top: 898px;
  border: 0.1px solid transparent;
  background-color: #ffffff;
}

h3 {
  position: absolute;
  width: 214px;
  height: 60px;
  margin: 75px 613px 1428px 612px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.6px;
  color: #606060;
}

h4 {
  position: absolute;
  width: 404px;
  height: 30px;
  margin: 148px 520px 1385px 523px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #929292;
}

#line1 {
  position: absolute;
  width: 349px;
  height: 6.5px;
  margin: 198px 545px 1358.5px 545px;
  background-color: #ffbf58;
  box-shadow: 0 8px 11px 0 rgba(255, 193, 96, 0.37);
}

p14 {
  position: absolute;
  width: 135px;
  height: 27px;
  margin: 457.9px 967.1px 1078.1px 336.9px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #606060;
}

p15 {
  position: absolute;
  width: 55px;
  height: 27px;
  margin: 458px 703px 1078px 681px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #606060;
}

p16 {
  position: absolute;
  width: 160px;
  height: 27px;
  margin: 458px 326px 1078px 959px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #606060;
}

p17 {
  position: absolute;
  width: 135px;
  height: 27px;
  margin: 803.9px 967.1px 732.1px 336.9px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #606060;
}

p18 {
  position: absolute;
  width: 87px;
  height: 27px;
  margin: 804px 687px 732px 665px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #606060;
}

p19 {
  position: absolute;
  width: 220px;
  height: 27px;
  margin: 804px 295px 732px 928px;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #606060;
}

p20 {
  position: absolute;
  width: 240px;
  height: 90px;
  margin: 492.9px 915.1px 980.1px 283.9px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #929292;
}

p21 {
  position: absolute;
  width: 240px;
  height: 90px;
  margin: 493px 611px 980px 588px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #929292;
}

p22 {
  position: absolute;
  width: 240px;
  height: 90px;
  margin: 493px 284px 980px 915px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #929292;
}

p23 {
  position: absolute;
  width: 240px;
  height: 90px;
  margin: 838.9px 915.1px 634.1px 283.9px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #929292;
}

p24 {
  position: absolute;
  width: 240px;
  height: 90px;
  margin: 839px 611px 634px 588px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #929292;
}

p25 {
  position: absolute;
  width: 240px;
  height: 90px;
  margin: 839px 284px 634px 915px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #929292;
}

#photo3 {
  position: absolute;
  width: 190px;
  height: 150px;
  margin: 280.3px 309.15px 1132.7px 939.85px;
}

#photo1 {
  position: absolute;
  width: 190px;
  height: 150px;
  margin: 280.3px 980.2px 1132.7px 308.7px;
}

#photo2 {
  position: absolute;
  width: 190px;
  height: 160px;
  margin: 270.3px 636.1px 1132.7px 613px;
}

#photo6 {
  position: absolute;
  width: 190px;
  height: 150px;
  margin: 621.1px 308.9px 791.9px 940.1px;
}

#photo4 {
  position: absolute;
  width: 190px;
  height: 150px;
  margin: 621.1px 945px 791.9px 304px;
}

#photo5 {
  position: absolute;
  width: 190px;
  height: 150px;
  margin: 621.1px 632.65px 791.9px 616.35px;
}

#Movie {
  position: absolute;
  width: 1440px;
  height: 1066px;
  margin-top: 1964px;
  border: 0.1px solid transparent;
  background-color: #c2f9ed;
}

h5 {
  position: absolute;
  width: 250px;
  height: 61px;
  margin: 179.5px 600px 825.5px 600px;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(73, 206, 177, 0.69);
}

p26 {
  position: absolute;
  width: 732.4px;
  height: 474.2px;
  margin: 318.5px 353.6px 273.3px 354px;
  opacity: 0.47;
  background-image: linear-gradient(to bottom, #ffffff, #ebf7ff);
}

p27 {
  position: absolute;
  width: 732.4px;
  height: 474.2px;
  margin: 332.7px 353.6px 259.1px 354px;
  opacity: 0.49;
  background-image: linear-gradient(to bottom, #ffffff, #ebf7ff);
}

p28 {
  position: absolute;
  width: 732.4px;
  height: 474.2px;
  margin: 349.2px 353.6px 242.6px 354px;
  background-image: linear-gradient(to bottom, #ffffff, #ebf7ff);
}

#btn1 {
  position: absolute;
  width: 137px;
  height: 137px;
  margin: 517.5px 651.5px 411.5px 651.5px;
}

p29 {
  position: absolute;
  width: 36.4px;
  height: 36.4px;
  margin: 428.1px 1122.1px 601.7px 281.5px;
  transform: rotate(45deg);
  background-color: #41494e;
}

p30 {
  position: absolute;
  width: 51.8px;
  height: 51.8px;
  margin: 646.3px 1131.6px 368.2px 256.6px;
  transform: rotate(45deg);
  background-color: #ffffff;
}

p31 {
  position: absolute;
  width: 65.1px;
  height: 65.1px;
  margin: 371px 238.6px 629.9px 1136.4px;
  transform: rotate(45deg);
  border: solid 8px #41494e;
}

p32 {
  position: absolute;
  width: 51.8px;
  height: 51.8px;
  margin: 651.3px 254.6px 362.9px 1133.6px;
  transform: rotate(45deg);
  background-color: #ffffff;
}

#footer {
  position: absolute;
  width: 1440px;
  height: 813px;
  margin-top: 3030px;
  border: 0.1px solid transparent;
  background-color: #ffffff;
}

h6 {
    position: absolute;
    width: 690px;
    height: 61px;
    margin: 110px 383px 642px 389px;
    font-family: 'Montserrat', sans-serif;;
    font-size: 50px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.6px;
    color: #606060;
}

h7 {
position: absolute;
width: 525px;
height: 60px;
margin: 183px 456px 570px 459px;
font-family: 'Montserrat', sans-serif;
font-size: 25px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
letter-spacing: 0.3px;
text-align: center;
color: #929292;
}

#form1 {
  position: absolute;
  width: 267px;
  height: 75px;
  margin: 360px 838px 378px 335px;
  border-radius: 37.5px;
  border: solid 1px #98fae4;
}

#form2 {
  position: absolute;
  width: 267px;
  height: 75px;
  margin: 360px 541px 378px 632px;
  border-radius: 37.5px;
  border: solid 1px #98fae4;
}

 input::-webkit-input-placeholder {
  position: absolute;
  width: 61px;
  height: 24px;
  padding-left: 30px;
  font-family: '.SFNSDisplay', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  color: #ccc;
}

#btn3 {
  position: absolute;
  width: 184px;
  height: 75px;
  margin: 360px 335px 378px 921px;
  border-radius: 37.5px;
  background-color: #ffbf58;
  box-shadow: 0 8px 11px 0 rgba(255, 193, 96, 0.68);
}

p33 {
  position: absolute;
  width: 108px;
  height: 60px;
  margin: 382px 372.5px 371px 959.5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  text-align: center;
  color: #ffffff;
}

#line2 {
  position: absolute;
  width: 890px;
  height: 2px;
  margin: 681px 275px 130px 275px;
  border: solid 1px #d3d3d3;
}

p34 {
  position: absolute;
  width: 126px;
  height: 29px;
  margin: 693px 1018px 91px 296px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.3px;
  color: #737373;
}

p35 {
  position: absolute;
  width: 230px;
  height: 20px;
  margin: 728px 921px 65px 296px;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  color: #737373;
}

p36 {
  position: absolute;
  width: 440px;
  height: 24px;
  margin: 715px 290px 74px 716px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  word-spacing: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 0.2px;
  color: #737373;
}
